<<<<<<< HEAD
.App {
  /* background-image: url("./logo.jpg"); */
  /* background:'#000000'; */

    min-height: 100vh;
    background-size:cover;

    

=======
.App-header {
    background-color: #242424;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0%;
    padding: 0%;
>>>>>>> master
  }