.App-header {
    background-color: #242424;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0%;
    padding: 0%;
  }